---
import Layout from "@layouts/Default.astro";
import Me from "@components/Me.astro";
import About from "@components/About.astro";
import List from "@components/List.astro";
import Project from "@components/Project.astro";
import {getCollection, getEntry} from 'astro:content';
import Social from "../components/Social.astro";
const aboutElements = await getCollection('about');
const meContent = await getEntry('me', 'me')
const projects = await getCollection('projects');
const experiences = await getCollection('experiences');
const socials = await getCollection('socials');

const sortedExperiences = experiences.sort(
    (n1, n2) =>  {
      if (n1.data.datetime < n2.data.datetime ) return 1;
      if (n1.data.datetime > n2.data.datetime) return -1;
      return 0;
    })
---

<Layout title="Florent A.">
  <main>
    <Me meContent={meContent} />
    { aboutElements.map((aboutContent) => <About aboutContent={aboutContent} />) }
    <List title="Mes projets">
      { projects.map((project) => <Project project={project}/> )}
    </List>
    <List title="Mes expériences">
      { sortedExperiences.map((exp) => <Project project={exp}/> )}
    </List>
    <List title="Me trouver">
      { socials.map((social) => <Social social={social}/> )}
    </List>
    <style>
      p {
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
      }
    </style>
  </main>
</Layout>
