---
interface Props {
  title: string;
  href: string;
  text: string;
  rel?: string[];
  external?: boolean;
}

const { title, href, text, external, rel } = Astro.props;

const relList = rel?.join(" ") ?? undefined;
const target = external ? "_blank" : undefined;
---

<a href={href} target={target} title={title} rel={relList}>{text}</a>
