---
import type { CollectionEntry } from 'astro:content';
import Tags from "./Tags.astro";

interface Props {
  project: CollectionEntry<'projects'> | CollectionEntry<'experiences'> ;
}

const { project } = Astro.props;
const { Content } = await project.render();

const {title, datetime, time, tags, organisation, organisationUrl } = project.data

---

<section class="project">
  <h3 class={datetime === "soon" ? "secondary-color" : undefined }>
    {title}
    {organisation &&
        (organisationUrl &&
            <> -
              <a href={organisationUrl} title={organisation} target="_blank" rel="noreferrer external">{organisation}</a>
            </>
        )
    }
  </h3>
  <time datetime={datetime} class="secondary-color">{time}</time>
  <Content />
  <Tags slot="tags" elements={tags} />
</section>

<style>
  * {
    margin: 0;
  }

  section {
    padding-top: 1em;
    display: grid;
    grid-template-columns: initial;
    grid-template-rows: initial;
    gap: 10px;
  }

  @media (min-width: 450px) {
    section {
      padding-top: initial;
      display: grid;
      grid-template-columns: 1fr 320px;
    }

    h3 {
      grid-column-start: 2;
    }

    time {
      grid-row-start: 1;
      grid-column-start: 1;
    }

    div {
      grid-column-start: 2;
      grid-row-start: 3;
    }
  }
</style>

<style is:global>
  @media (min-width: 450px) {
    section.project p {
      grid-column-start: 2;
      grid-row-start: 2;
    }
  }

  section.project p {
    margin: 0;
    padding: 0;
  }
</style>
